<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Medium Scraper</title>
    <!-- CSS  -->
    <link href="assets/css/saved.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<div class="topnav" id="myTopnav">
    <a class="active" href="#medium">Medium Scraper</a>
    <a href="/">Home</a>
</div>
<div id="articles">
    {{#each articles}}
    <!-- Modal -->
    <div class="modal" id="modal-{{_id}}">
        <div class="modal-sandbox"></div>
        <div class="modal-box">
            <div class="modal-header">
                <div class="close-modal">&#10006;</div>
                <h3>Notes for : {{headline}}</h3>
            </div>
            <div class="modal-body" data-id="{{_id}}">
                <textarea class='bodyinput' name='body'></textarea>
                <div id="notes"></div>
                <button data-id="{{_id}}" class="save-note">Save Note</button>
                <button class="close-modal">Close!</button>
            </div>
        </div>
    </div>
    <p>{{headline}}
        <br />{{summary}}
        <br />{{url}}</p>
    <button class="modal-trigger addNote" data-id="{{_id}}" data-modal="modal-{{_id}}">Add or check notes!</button>
    <!-- Trigger Modal. -->
    <button data-id={{_id}} class='removeSaved'>REMOVED FROM SAVED</button>
    {{/each}}
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{{!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> --}}
<script src="/assets/js/saved.js"></script>